name: API ETL Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  etl:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run API ETL script
        run: python api_reader.py
